html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;

}
button{font-size : 30px;}

.out{
  color: blue;
  font-size: 50px;
width: 65%;
height: 450px;
overflow-x : hidden;
overflow-y : scroll;
}